<!doctype html>
{% load static %}
{% load active %}
{% load crispy_forms_tags %}
{#{% load humanize   %}#}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook Cards -->
    <meta property="og:description" content="A fun project to store my learning from each book that I read"/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content="{% static 'images/logomark.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Bookworm"/>

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@omkarpathak27">
    <meta name="twitter:creator" content="Omkar Pathak">
    <meta name="twitter:title" content= "Bookworm">
    <meta name="twitter:description" content="A fun project to store my learning from each book that I read">
    <meta name="twitter:creator" content="Omkar Pathak">
    <meta name="twitter:image:src" content="{% static 'images/logomark.png' %}">
    <meta name="twitter:domain" content="https://www.omkarpathak.in">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logomarkv2.ico' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body style="font-family: 'Poppins', sans-serif;">
    {% include 'navbar.html' %}

    <div class="container-fluid">
      {% include 'messages.html' %}
    <h1>Job Description skills</h1>
    <p>{{ jd_skills }}</p>
        <h1>Job Description Designation</h1>
    <p>{{ job_description_designation }}</p>


      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="{% url 'job_description' %}">
              <button class="btn btn-success" style="margin-bottom: 10px; border-radius: 0;">Upload More</button>
            </a>
        </div>
      </div>
      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Resume File</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Designation</th>
                        <th>Skills</th>
                        <th>Total Experience</th>
{#                        <th>Skills Score(MAX)</th>#}
{#                        <th>Skills Score(1-1)</th>#}

{#                        <th>Designation Score (MAX_ENHANCED)</th>#}
{#                        <th>Designation Score(1-1 ENHANCED)</th>#}

{#                        <th>Weighted (1-1)</th>#}
                        <th>Weighted (MAX)</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for resume in resumes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {#                  <td><a href="{{resume.job_description.url}}" target="_blank">{{resume.job_description.url|truncatechars:20}}</a></td>#}
                            <td><a href="{{ resume.resume.url }}" target="_blank">{{ resume.resume.url }}</a></td>
                            <td>{{ resume.name }}</td>
                            <td>{{ resume.email }}</td>
                            <td>{{ resume.mobile_number }}</td>
                            <td>{{ resume.designation }}</td>
                            <td>{{ resume.skills }}</td>

                            <td>{{ resume.total_experience }}</td>
{#                            <td>{{ resume.skills_score | floatformat:2 }}</td>#}
{#                            <td>{{ resume.skills_score2 | floatformat:2 }}</td>#}

{#                            <td>{{ resume.designation_score3 |floatformat:2}}</td>#}
{#                            <td>{{ resume.skills_score3 |floatformat:2}}</td>#}


{#                        <td>{{ resume.designation_score |floatformat:2}}</td>#}
                            <td>{{ resume.designation_score2|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  </body>
</html>